In [3]:
import numpy as np
from sklearn.cluster import DBSCAN
from sklearn.datasets import make_blobs
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [4]:
#createdatapoints with 3 inputs and store the output into variables X dan y

X, y = createDataPoints([[4,3],[2,-1],[-1,4]], 1500, 0.5)

NameError: name 'createDataPoints' is not defined

## Modelling

In [5]:
epsilon = 0.3
minimumSamples = 7
db = DBSCAN(eps=epsilon, min_samples=minimumSamples).fit(X)
labels = db.labels_
labels

NameError: name 'X' is not defined

In [6]:
import csv
import pandas as pd
import numpy as np

#Read csv
pdf = pd.read_csv(r"D:\SEMESTER3\DATAANAYSIS\lab\Data Pendukung Week 11\weather.csv")
pdf.head(5)

,Unnamed: 0,Stn_Name,Lat,Long,Prov,Tm,DwTm,D,Tx,DwTx,...,Pd,BS,DwBS,BS%,HDD,CDD,Stn_No,xm,ym,Clus_Db
0,0,CHEMAINUS,48.935,-123.742,BC,8.2,0.0,NaN,13.5,0.0,...,12.0,NaN,NaN,NaN,273.3,0.0,1011500,1.807806e+06,1.396332e+06,0
1,1,COWICHAN LAKE FORESTRY,48.824,-124.133,BC,7.0,0.0,3.0,15.0,0.0,...,12.0,NaN,NaN,NaN,307.0,0.0,1012040,1.764329e+06,1.377564e+06,0
2,2,LAKE COWICHAN,48.829,-124.052,BC,6.8,13.0,2.8,16.0,9.0,...,11.0,NaN,NaN,NaN,168.1,0.0,1012055,1.773336e+06,1.378409e+06,0
3,3,DUNCAN KELVIN CREEK,48.735,-123.728,BC,7.7,2.0,3.4,14.5,2.0,...,11.0,NaN,NaN,NaN,267.7,0.0,1012573,1.809363e+06,1.362546e+06,0
4,4,ESQUIMALT HARBOUR,48.432,-123.439,BC,8.8,0.0,NaN,13.1,0.0,...,12.0,NaN,NaN,NaN,258.6,0.0,1012710,1.841498e+06,1.311615e+06,0

In [7]:
#Cleaning
#Let's remove rows that don't have any

pdf = pdf[pd.notnull(pdf["Tm"])]
pdf = pdf.reset_index(drop=True)
pdf.head(5)

,Unnamed: 0,Stn_Name,Lat,Long,Prov,Tm,DwTm,D,Tx,DwTx,...,Pd,BS,DwBS,BS%,HDD,CDD,Stn_No,xm,ym,Clus_Db
0,0,CHEMAINUS,48.935,-123.742,BC,8.2,0.0,NaN,13.5,0.0,...,12.0,NaN,NaN,NaN,273.3,0.0,1011500,1.807806e+06,1.396332e+06,0
1,1,COWICHAN LAKE FORESTRY,48.824,-124.133,BC,7.0,0.0,3.0,15.0,0.0,...,12.0,NaN,NaN,NaN,307.0,0.0,1012040,1.764329e+06,1.377564e+06,0
2,2,LAKE COWICHAN,48.829,-124.052,BC,6.8,13.0,2.8,16.0,9.0,...,11.0,NaN,NaN,NaN,168.1,0.0,1012055,1.773336e+06,1.378409e+06,0
3,3,DUNCAN KELVIN CREEK,48.735,-123.728,BC,7.7,2.0,3.4,14.5,2.0,...,11.0,NaN,NaN,NaN,267.7,0.0,1012573,1.809363e+06,1.362546e+06,0
4,4,ESQUIMALT HARBOUR,48.432,-123.439,BC,8.8,0.0,NaN,13.1,0.0,...,12.0,NaN,NaN,NaN,258.6,0.0,1012710,1.841498e+06,1.311615e+06,0

In [10]:
#conda install -c anaconda basemap

In [13]:
import os
os.environ['PROJ_LIB'] ='/Users/Darren'

from mpl_toolkits.basemap import Basemap
import matplotlib.pyplot as plt
from pylab import rcParams
%matplotlib inline
rcParams['figure.figsize'] = (14,10)

llon = 140
ulon =-50
llat =40
ulat=65

pdf = pdf[(pdf['Long'] > llon) & (pdf['Long'] < ulon) & (pdf['Lat'] > llat) &(pdf['Lat'] < ulat)]

my_map = Basemap(projection='merc',
                resolution ='1', area_length = 1000.0,
                llearnrlon=llon, llernrlat=llat
                urcnrlon=ulon, urcnrlat=ulat)

my_map.drawcoastlines()
my_map.drawcountries()
my_map.fillcontinents(color ='white', alpha = 0.3)
my_map.shaderelief()

#to collect data based on station
xs, ys = my_map(np.asarray,(pdf.Long), np.asarray(pdf.Lat))
pdf['xm']= xs.tolist()
pdf['ym']=ys.tolist()

#Visualization1
for index, row in pdf.iterrows():
    my_map.plot(row.xm, row.ym, markerfacecolor=([1,0,0]), marker='o', markersize=5, alpha = 0.75)
plt.show()

SyntaxError: invalid syntax (621385245.py, line 20)

In [17]:
from sklearn.cluster import DBSCAN
import sklearn.utils
from sklearn.preprocessing import StandardScaler
sklearn.utils.check_random_state(1000)
Clus_dataSet = pdf[['xm','ym']]
Clus_dataSet = np.nan_to_num(Clus_dataSet)
Clus_dataSet = StandardScaler().fit_transform(Clus_dataSet)

db = DBSCAN(eps=0.15, min_samples=10).fit(Clus_dataSet)
core_samples_mask = np.zeros_like(db.labels_, dtype=bool)
core_samples_mask[db.core_sample_indices_] = True
labels = db.labels_
pdf['Clus_Db']=labels


realClusterNum=len(set(labels)) - (1 if -1 in labels else 0)
clusterNum = len(set(labels))

pdf[["Stn_Name","Tx","Tm","Clus_Db"]].head(5)

                 Stn_Name    Tx   Tm  Clus_Db
0               CHEMAINUS  13.5  8.2        0
1  COWICHAN LAKE FORESTRY  15.0  7.0        0
2           LAKE COWICHAN  16.0  6.8        0
3     DUNCAN KELVIN CREEK  14.5  7.7        0
4       ESQUIMALT HARBOUR  13.1  8.8        0

In [18]:
set(labels)

{-1, 0, 1, 2, 3, 4}

In [24]:
#visualize of cluster based on location


from mpl_toolkits.basemap import Basemap
import matplotlib.pyplot as plt
from pylab import rcParams
%matplotlib inline

rcParams['figure.figsize'] = (14,10)

my_map = Basemap(projection='merc',
                resolution='l', area_thresh= 1000.0,
                llcrnrlon=llon, llcrnrlat=llat,
                urcrnrlon=ulon, urcrnrlat=ulat)

my_map.drawcoastlines()
my_map.drawcountries()
my_map.fillcontinents(color='white', alpha =0.3)
my_map.shadedrelief()

colors = plt.get_cmap('jet')(np.linspace(0.0, 1.0, clusterNum))

#Visualization!
for clust_number in set (labels):
    c=(([0.4, 0.4, 0.4]) if clust_number == -1 else colors[np.int(clust_number)])
    clust_set = pdf[pdf.Clus_Db == clust_number]
    my_map.scatter(clust_set.xm, clust_set.ym, color =c, marker='o', s=20, alpha = 0.85)
    if clust_number != -1:
        cenx=np.mean(clust_set.xm)
        ceny=np.mean(clust_set.ym)
        plt.text(cenx, ceny, str(clust_number), fontsize=25, color='red',
        print("Cluster "+ str(clust_number)+', Avg Temp: '+ str(np.mean(clust_set.Tm)))

SyntaxError: positional argument follows keyword argument (2499143443.py, line 33)

In [25]:
from sklearn.cluster import DBSCAN
import sklearn.utils
from sklearn.preprocessing import StandardScaler
sklearn.utils.check_random_state(1000)
Clus_dataSet = pdf[['xm','ym']]
Clus_dataSet = np.nan_to_num(Clus_dataSet)
Clus_dataSet = StandardScaler().fit_transform(Clus_dataSet)

db = DBSCAN(eps=0.15, min_samples=10).fit(Clus_dataSet)
core_samples_mask = np.zeros_like(db.labels_, dtype=bool)
core_samples_mask[db.core_sample_indices_] = True
labels = db.labels_
pdf['Clus_Db']=labels


realClusterNum=len(set(labels)) - (1 if -1 in labels else 0)
clusterNum = len(set(labels))

pdf[["Stn_Name","Tx","Tm","Clus_Db"]].head(5)

                 Stn_Name    Tx   Tm  Clus_Db
0               CHEMAINUS  13.5  8.2        0
1  COWICHAN LAKE FORESTRY  15.0  7.0        0
2           LAKE COWICHAN  16.0  6.8        0
3     DUNCAN KELVIN CREEK  14.5  7.7        0
4       ESQUIMALT HARBOUR  13.1  8.8        0

In [26]:
#visualize of cluster based on location


from mpl_toolkits.basemap import Basemap
import matplotlib.pyplot as plt
from pylab import rcParams
%matplotlib inline

rcParams['figure.figsize'] = (14,10)

my_map = Basemap(projection='merc',
                resolution='l', area_thresh= 1000.0,
                llcrnrlon=llon, llcrnrlat=llat,
                urcrnrlon=ulon, urcrnrlat=ulat)

my_map.drawcoastlines()
my_map.drawcountries()
my_map.fillcontinents(color='white', alpha =0.3)
my_map.shadedrelief()

colors = plt.get_cmap('jet')(np.linspace(0.0, 1.0, clusterNum))

#Visualization!
for clust_number in set (labels):
    c=(([0.4, 0.4, 0.4]) if clust_number == -1 else colors[np.int(clust_number)])
    clust_set = pdf[pdf.Clus_Db == clust_number]
    my_map.scatter(clust_set.xm, clust_set.ym, color =c, marker='o', s=20, alpha = 0.85)
    if clust_number != -1:
        cenx=np.mean(clust_set.xm)
        ceny=np.mean(clust_set.ym)
        plt.text(cenx, ceny, str(clust_number), fontsize=25, color='red',
        print("Cluster "+ str(clust_number)+', Avg Temp: '+ str(np.mean(clust_set.Tm)))

SyntaxError: positional argument follows keyword argument (2499143443.py, line 33)

In [27]:
#surpress warnings:

def warn(*args, **kwargs):
    pass
import warnings
warning.warn = warn

NameError: name 'warning' is not defined

In [28]:
import random
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.datasets import make_blobs
%matplotlib inline

In [29]:
np.random.seed(0)

In [34]:
X, y = make_blobs(n_samples=5000, centers=[[4,4] [-2,-1],[2,3],[1,1]], cluster_std=0.9)

<>:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
C:\Users\Darren\AppData\Local\Temp\ipykernel_24768\866273452.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  X, y = make_blobs(n_samples=5000, centers=[[4,4] [-2,-1],[2,3],[1,1]], cluster_std=0.9)
C:\Users\Darren\AppData\Local\Temp\ipykernel_24768\866273452.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  X, y = make_blobs(n_samples=5000, centers=[[4,4] [-2,-1],[2,3],[1,1]], cluster_std=0.9)
C:\Users\Darren\AppData\Local\Temp\ipykernel_24768\866273452.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  X, y = make_blobs(n_samples=5000, centers=[[4,4] [-2,-1],[2,3],[1,1]], cluster_std=0.9)

TypeError: list indices must be integers or slices, not tuple

In [35]:
plt.scatter(X[:, 0], X[:, 1], marker='.')

NameError: name 'X' is not defined

In [36]:
k_means = KMean(init ="k-means++", n_clusters =4, n_init =12)

NameError: name 'KMean' is not defined

In [37]:
k_means.fit(X)

NameError: name 'k_means' is not defined

In [38]:
k_means_labels = k_means.labels
k_means_labels

NameError: name 'k_means' is not defined

In [39]:
k_means_cluster_centers = k_means.cluster_centers_
k_mean_cluster_centers

NameError: name 'k_means' is not defined

In [41]:
fig = plt.figure(figsize=(6,4))

colors= plt.cm.Spectral(np.linspace(0,1, len(set(k_means_labels))))

ax= fig.add_subplot(1, 1, 1)

for k, col in zip(range(len([[4,4],[2,-1],[2,-3],[1,1]])), colors):
    my_members = (k_means_labels ==k)
    cluster_center = k_means_cluster_centers[k]
    ax.plot(X[my_members, 0], X[my_members, 1],'w', markerfacecolor=col, marker='.')
    ax.plot(cluster_center[0], cluster_center[1],'o', markerfacecolor=col, markeredgecolor='k' markersize=6)
    
ax.set_title('KMeans')

ax.set_xticks(())

ax.set_yticks(())

plt.show()

SyntaxError: invalid syntax (3464282025.py, line 11)

In [42]:
import pandas as pd
cust_df = pd.read_csv(r"D:\SEMESTER3\DATAANAYSIS\lab\Data Pendukung Week 11\Mall_Customers.csv")
cust_df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [43]:
from sklearn.preprocessing import StandardScaler
X = df.values[:,1:]
X = np.nan_to_num(X)
Clus_dataSet = StandardScaler().fit_transform(X)
Clus_dataSet

NameError: name 'df' is not defined

In [44]:
clusterNum = 3
k_means= KMeans(init ="k-means++", n_clusters = clusterNum, n_init = 12)
k_means.fit(X)
labels = k_means.labels_
print(labels)

NameError: name 'X' is not defined

In [45]:
df["Clus_km"] = labels
df.head(5)

NameError: name 'df' is not defined

In [46]:
df.groupby('Clus_km').mean()

NameError: name 'df' is not defined

In [47]:
area = np.pi * ( X[:1]**2)
plt.scatter(X[:, 0], X[:, 3], s=area, c=labels.astype(np.float), alpha=0.5)
plt.xlabel('Age', fontsize=18)
plt.ylabel('Income', fontsize=16)

plt.show()

NameError: name 'X' is not defined

In [48]:
from mpl_toolkits.mplot3d import Axes3D
fig = plt.figure(1, figsize=(8,6))
plt.clf()
ax = Axes3D(fig, rect=[0,0, .95, 1], elev=48, azim=134)

plt.cla()
ax.set_xlabel('Education')
ax.set_ylabel('Age')
ax.set_zLabel('Income')

ax.

SyntaxError: invalid syntax (4006881286.py, line 11)